/* My Repeatable Style properties */
.updown-padding {
    padding: 100px 0;
  }
  .title-sec {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .title-sec:after {
      content: '';
      display: block;
      width: 75px;
      height: 3px;
      background-color: #ec1c23;
      margin: 25px auto;
  }
  .desc-sec {
    width: 80%;
    margin: 0 auto 40px;
    line-height: 1.75;
    color: #666;
  }
  /* Start Upper Bar Style*/
  .upper-bar {
    background-color: #08526d;
    color: #fff;
  }
  .upper-bar .info {
    margin: 10px 0;
  }
  .upper-bar .info span {
    color: #ccc;
  }
  @media (max-width: 576px) {
    .upper-bar .info:first-child {
      margin-bottom: 0;
    }
  }
  .upper-bar .info button {
    color: #ccc;
    background-color: transparent;
    border: 1px solid #ec1c23;
    border-radius: 0;
    padding: 4px 12px;
    margin-left: 20px;
    font-size: .8rem;
    cursor: pointer;
  }
  .upper-bar .info button:hover {
    background-color: #ec1c23;
  }
  
  /* Start NavBar Style*/
  .navbar-brand > span {
    font-size: 40px;
  }
  .navbar-brand span:first-child {
    color: #08526d;
    font-weight: bold;
  }
  .navbar-brand span:last-child {
    color: #ec1c23;
  }
  .navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #08526d !important;
  }
  .navbar-nav .nav-link:hover {
    color:  #ec1c23 !important;
  }
  .navbar-nav .active > .nav-link {
    color: #ec1c23 !important;
  }
  
  /* Start SLider Style */
  .slider .carousel-inner {
    display: flex;
    align-items: center;
  }
  .slider .carousel-inner h1 {
    position: absolute;
    left: 100px;
    z-index: 3;
    color: #fff;
    font-size: 55px;
    line-height: 1.5;
  }
  .slider .carousel-inner h1 span {
    background-color: #ec1c23;
    padding: 2px 10px;
  }
  @media (max-width: 768px) {
    .slider .carousel-inner {
      justify-content: center;
    }
    .slider .carousel-inner h1 {
      left: auto;
      font-size: 40px;
      text-align: center;
    }
  }
  .slider .carousel-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  .slider .carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
  }
  .slider .carousel-one {
    background-image: url('../img/slider-1.jpg');
  }
  .slider .carousel-two {
    background-image: url('../img/slider-2.jpg');
  }
  .slider .carousel-three {
    background-image: url('../img/slider-3.jpg');
  }
  .carousel-indicators li {
    cursor: pointer;
    height: 5px;
  }
  
  /* Start Feature Style*/
  .features i {
    background-color: #ec1c23;
    width: 70px;
    height: 70px;
    line-height: 50px;
    color: #fff;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 40px;
  }
  .features i:hover {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  .features h3 {
    color: #08526d;
    font-size: 24px;
  }
  .features p {
    color: #999;
  }
  
  /* Start Overview Style */
  .overview {
    background-color: #f0f5f7;
  }
  .overview h5 {
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  .overview button {
    background-color: #ec1c23;
    color: #fff;
    padding: 5px 25px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .overview button:hover {
    background-color: #08526d;
  }
  
  /* Start Our Works Style */
  .featured-work {
    padding-top: 50px;
  }
  .featured-work .work-list {
    margin: 10px 0;
  }
  .featured-work .work-list li {
    border: 1px solid #08526d;
    color: #08526d;
    padding: 8px;
    margin: 0 5px 5px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .featured-work .work-list li:hover,
  .featured-work .work-list li.active {
    background-color: #ec1c23;
    color: #fff;
    border-color: #ec1c23;
    cursor: pointer;
  }
  .featured-work .work-imgs {
    margin: 0;
  }
  .featured-work .work-imgs .work {
    padding: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  /* Start Blog Style */
  .blog .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
  }
  .blog .card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }
  .blog .card .card-title a {
    color: #08526d;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5;
  }
  .blog .card .card-text {
    color: #666;
  }
  .blog .card .card-link {
    color: #ec1c23;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .blog .card .card-link:hover {
    color: #007bff;
  }
  
  /* Start Testimonials Style */
  .testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/testimonials.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 50px
  }
  .testimonials .carousel-item .carousel-caption {
    padding-bottom: 40px;
  }
  .testimonials .carousel-item .carousel-caption img {
    margin-bottom: 16px;
  }
  .testimonials .carousel-item .carousel-caption h6 {
    font-weight: 100;
    margin-bottom: 32px;
  }
  .testimonials .carousel-item .carousel-caption p {
    margin-bottom: 48px;
  }
  @media (max-width: 576px) {
    .testimonials .carousel-item .carousel-caption {
      padding-bottom: 20px;
    }
    .testimonials .carousel-item .carousel-caption p {
      margin-bottom: 24px;
    }
  }
  
  /* Start Pricing Table Style */
  .pricing {
    background-color: #f0f5f7;
  }
  .pricing .card {
    margin-bottom: 32px;
    -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .pricing .card:hover {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  .pricing .card .card-body {
    padding: 32px 0;
  }
  .pricing .card .card-body .card-title {
    color: #08526d;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .pricing .card .card-body .card-header {
    font-weight: 600;
    font-size: 32px;
    color: #08526d;
    padding: 8px;
    font-family: "Tahoma";
  }
  .pricing .card .card-body .card-header span {
    font-size: 12px;
    text-transform: uppercase;
  }
  .pricing .card .card-body .corporate {
    background-color: #ec1c23;
    color: #fff;
  }
  .pricing .card .card-body .list-group-item {
    padding: 20px;
  }
  .pricing .card .card-body .btn {
    margin-top: 16px;
    background-color: #ec1c23;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0;
    letter-spacing: 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .pricing .card .card-body .btn.corporate-btn {
    background-color: #08526d;
  }
  .pricing .card .card-body .btn:hover,
  .pricing .card .card-body .btn.corporate-btn:hover {
    background-color: #000;
  }
  .pricing .corporate-card {
    top: -20px;
  }
  @media (max-width: 992px) {
    .pricing .corporate-card {
      top: 0;
    }
  }
  
  /* Start Choose-us Style */
  .choose-us .container-fluid {
    padding: 0;
  }
  .choose-us .container-fluid .row {
    margin: 0;
  }
  .choose-us .container-fluid .row .info {
    padding: 0;
  }
  .choose-us .container-fluid .row .why-text {
    background-color: #08526d;
    color: #fff;
    padding: 32px 0;
  }
  .choose-us .container-fluid .row .why-text h2 {
    margin: 32px;
  }
  .choose-us .container-fluid .row .why-text p {
    line-height: 1.75;
    color: #ddd;
    margin: 32px;
  }
  .choose-us .container-fluid .row .why-text .btn {
    background-color: #ec1c23;
    color: #fff;
    letter-spacing: 2px;
    padding: 8px 16px;
    margin-left: 2rem;
    border-radius: 0;
    transition: .2s ease-in-out;
  }
  .choose-us .container-fluid .row .why-text .btn:hover {
    background-color: #000;
  }
  
  /* Start Statistics Style */
  .stats .stat-box {
    margin-bottom: 32px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border: .5px solid #c9c9c9;
    border-radius: 20px;
    height: 225px;
  }
  .stats .stat-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  .stats .stat-box i {
    color: #08526d;
  }
  .stats .stat-box span {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #08526d;
  }
  .stats .stat-box p {
    color: #ec1c23;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 2px;
  
  }
  
  /* Start Contact-us Style */
  .contact-us {
    background-color: #ec1c23;
    color: #fff;
  }
  .contact-us p {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 0;
  }
  .contact-us .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 2px solid #fff;
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 16px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .contact-us .btn:hover {
    background-color: #000;
    border-color: #000;
  }
  @media (max-width: 768px) {
    .contact-us p {
      margin-bottom: 32px;
      font-size: 24px;
    }
  }
  
  /* Start Footer Style */
  footer .site-info h2 {
    color: #08526d;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  footer .site-info h2 span {
    color: #ec1c23;
    font-weight: 100;
    font-weight: normal;
  }
  footer .site-info p {
    color: #666;
    line-height: 1.75;
    text-align: justify;
  }
  footer .site-info a {
    color: #08526d;
    text-decoration: none;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  footer .site-info a:hover {
    color: #ec1c23;
    margin-left: 10px;
  }
  footer .links h2 {
    color: #08526d;
    margin-bottom: 32px;
  }
  footer .links li {
    line-height: 2;
  }
  footer .links li a {
    color: #08526d;
    position: relative;
    text-decoration: none;
    left: 0;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  footer .links li a:hover {
    left: 7px;
    color: #ec1c23;
  }
  footer .contact h2 {
    color: #08526d;
    margin-bottom: 32px;
  }
  footer .contact li {
    margin-bottom: 25px;
    color: #666;
  }
  footer .contact li a {
    color: #08526d;
    text-decoration: none;
  }
  footer .contact li a:hover {
    color: #ec1c23;
  }
  @media (max-width: 992px) {
    footer .site-info, footer .links, footer .contact {
      margin-bottom: 32px;
    }
    footer .links h2, footer .contact h2 {
      color: #08526d;
      margin-bottom: 16px;
    }
    footer .contact li {
      margin-bottom: 10px;
    }
  }
  
  /* Start Copyright Style */
  .copyright {
    border-top: 1px solid #ccc;
    padding: 16px 0;
  }
  .copyright p {
    margin-bottom: 0;
    color: #666;
  }
  .copyright p span {
    color: #08526d;
    font-weight: 600;
  }
  .copyright p span span {
    color: #ec1c23;
    font-weight: 100;
  }
  .copyright .social-links {
    margin: 0;
  }
  .copyright .social-links li {
    display: inline-block;
    margin-left: 15px;
  }
  .copyright .social-links li a {
    color: #666;
    font-size: 20px;
    transition: .2s ease-in-out;
  }
  .copyright .social-links li a:hover {
    color: #ec1c23;
  }
  @media (max-width: 768px) {
    .copyright p {
      margin-bottom: 32px;
      font-size: 15px;
    }
  }
  /************* Style Customization Finished *************/
  
  /***** This Style for Loader of my website *****/
  /* Spinner */
  .loading {
      background: #ec1c23;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99999;
  }
  .loading p {
      color: #fff;
      text-align: center;
      margin-top: 40vh;
      font-weight: 300;
      font-size: 25px
  }
  .spinner {
      margin: 40px auto;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      -webkit-animation: sk-rotate 2.0s infinite linear;
      animation: sk-rotate 2.0s infinite linear;
  }
  .dot1,
  .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
  }
  .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
  }
  @-webkit-keyframes sk-rotate {
      100% {
          -webkit-transform: rotate(360deg)
      }
  }
  @keyframes sk-rotate {
      100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg)
      }
  }
  @-webkit-keyframes sk-bounce {
      0%,
      100% {
          -webkit-transform: scale(0.0)
      }
      50% {
          -webkit-transform: scale(1.0)
      }
  }
  @keyframes sk-bounce {
      0%,
      100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
      }
      50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
  }
  /* Spinner */